<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css" rel="stylesheet" media="all">
      @media only screen and (max-width: 600px) {
        .email-body_inner,
        .email-footer {
          width: 100% !important;
        }
      }
      @media only screen and (max-width: 500px) {
        .button {
          width: 100% !important;
        }
      }
    </style>
  </head>
  <body
    dir="ltr"
    style="
      height: 100%;
      margin: 0;
      line-height: 1.4;
      background-color: #ffffff;
      color: #74787e;
      -webkit-text-size-adjust: none;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    "
  >
    <table
      class="email-wrapper"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
      "
      bgcolor="#ffffff"
    >
      <tr>
        <td
          align="center"
          style="
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          "
        >
          <table
            class="email-content"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            style="
              font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              margin: 0;
              padding: 0;
            "
          >
            <tr>
              <td
                class="email-masthead"
                style="
                  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding: 25px 0;
                  text-align: center;
                "
                align="center"
              >
                <a
                  class="email-masthead_name"
                  href="https://vitract.com/"
                  target="_blank"
                  style="
                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-size: 16px;
                    font-weight: bold;
                    color: #2f3133;
                    text-decoration: none;
                    text-shadow: 0 1px 0 white;
                  "
                >
                  <img
                    src="https://res.cloudinary.com/kahmyl/image/upload/f_png/v1695824140/vitract_logo_a3hdce.png"
                    class="email-logo"
                    alt
                    style="
                      font-family: Arial, 'Helvetica Neue', Helvetica,
                        sans-serif;
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      max-height: 50px;
                    "
                  />
                </a>
              </td>
            </tr>

            <tr>
              <td
                class="email-body"
                width="100%"
                style="
                  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  border-top: 1px solid #edeff2;
                  border-bottom: 1px solid #edeff2;
                  background-color: #f2f4f6;
                "
                bgcolor="#f2f4f6"
              >
                <table
                  class="email-body_inner"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 50%;
                    margin: 0 auto;
                    padding: 0;
                  "
                >
                  <tr>
                    <td
                      class="content-cell"
                      style="
                        font-family: Arial, 'Helvetica Neue', Helvetica,
                          sans-serif;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 35px;
                      "
                    >
                      <h1
                        style="
                          margin-top: 0;
                          color: #2f3133;
                          font-size: 14px;
                          font-weight: bold;
                          font-family: Arial, 'Helvetica Neue', Helvetica,
                            sans-serif;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                        "
                      >
                        Dear Customer,
                      </h1>

                      <p
                        style="
                          margin-top: 0;
                          color: #2f3133;
                          font-size: 13px;
                          line-height: 1.5em;
                          font-family: Arial, 'Helvetica Neue', Helvetica,
                            sans-serif;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                        "
                      >
                        Thanks for visiting our website for your gut health
                        needs. Join the thousands of customers using the Vitract
                        test to improve their overall health.
                      </p>

                      <p
                        style="
                          margin-top: 0;
                          color: #2f3133;
                          font-size: 13px;
                          line-height: 1.5em;
                          font-family: Arial, 'Helvetica Neue', Helvetica,
                            sans-serif;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                        "
                      >
                        We would love to partner with you in your gut health
                        journey, so we're offering Canadian users a special
                        CA$40 OFF and users outside of canada, $30 OFF on your
                        purchase of the Vitract gut test. To enjoy your
                        discount, complete your purchase by applying the
                        discount code <b>{{code}}</b>.
                        <b
                          >Please note that this is a limited offer and will
                          expire in 7 days</b
                        >.
                      </p>

                      <p
                        style="
                          margin-top: 0;
                          color: #2f3133;
                          font-size: 13px;
                          line-height: 1.5em;
                          font-family: Arial, 'Helvetica Neue', Helvetica,
                            sans-serif;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                        "
                      >
                        If you are a Thrive Market customer, you can purchase
                        your Vitract test for <b>$99 only</b>. Apply the coupon
                        code provided to you by ThriveMarket.
                        <b
                          >This $99 offer is exclusively for ThriveMarket
                          subscribers</b
                        >.
                      </p>

                      <p
                        style="
                          margin-top: 0;
                          color: #2f3133;
                          font-size: 13px;
                          line-height: 1.5em;
                          font-family: Arial, 'Helvetica Neue', Helvetica,
                            sans-serif;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                        "
                      >
                        To learn more about how your overall health is impacted
                        by your gut, please visit our
                        <a href="https://vitract.com/blogs">
                          Science Research page
                        </a>
                        and read from our experts.
                      </p>

                      <div style="margin-top: 3rem">
                        <img
                          src="https://res.cloudinary.com/kahmyl/image/upload/f_png/v1695824140/vitract_logo_a3hdce.png"
                          class="email-logo"
                          alt
                          style="
                            font-family: Arial, 'Helvetica Neue', Helvetica,
                              sans-serif;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            max-width: 100px;
                          "
                        /><br />
                        <i
                          style="
                            margin-top: 1rem;
                            color: #2f3133;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 1.5em;
                            font-family: Arial, 'Helvetica Neue', Helvetica,
                              sans-serif;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                          "
                          >Transforming your health through your gut</i
                        >
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td
                style="
                  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                "
              >
                <table
                  class="email-footer"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 50%;
                    margin: 0 auto;
                    padding: 0;
                    text-align: center;
                  "
                >
                  <tr>
                    <td
                      class="content-cell"
                      style="
                        font-family: Arial, 'Helvetica Neue', Helvetica,
                          sans-serif;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 35px;
                      "
                    >
                      <p
                        class="sub center"
                        style="
                          margin-top: 0;
                          line-height: 1.5em;
                          font-family: Arial, 'Helvetica Neue', Helvetica,
                            sans-serif;
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          color: #aeaeae;
                          font-size: 12px;
                          text-align: center;
                        "
                      >
                        &copy; {{year}}
                        <a
                          href="https://vitract.com/"
                          target="_blank"
                          style="
                            color: #3869d4;
                            font-family: Arial, 'Helvetica Neue', Helvetica,
                              sans-serif;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                          "
                          >Vitract</a
                        >. All rights reserved.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
